/* // Universal Style Page // */
* {
    margin: 0px;
    padding: 0px;
   
}
    body {
        margin:0 auto;
        width: 100%;
    }
    
    h4 {
      font-family: "Yeseva One", cursive;
      color: white;
      text-align: center;
    }

    h5 {
      font-family: "Cormorant Garamond", serif;
      color: white;
    }

 .content{
   margin-top:10px;
   margin-bottom:10px;
   background-color: #4aaaa5;
   padding: 20px;
   width: 100%;
 }

 #display{
   width: 100%;
 }
 
 #length {
   display: inline-block;
   width: 100px;
 }

 #slider{
   width: 100%;
 }